.Movietitle{
    background-color: rgba(0, 0, 0, 0.774);
    color: whitesmoke;
    height: 100vh;
    padding: 20px;
}

.title{
    margin-top: 100px;
    font-weight: 900;
}

.description{
    max-width: 700px;
    font-weight: 200;
    color: gray;
}

.knowMore{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:7px;
    background-color: rgba(245, 245, 245, 0.185);
    border-radius: 22px;
    height: 50px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}
.knowMore:hover{
    border: 0.51px solid rgba(255, 255, 255, 0.233);

}
.knowMore:hover{
    box-shadow: 1px 1px 100px 1px rgb(255, 255, 255);
    transition: 0.5s;
}

.nowPlayingMovies{
    position: relative;
    display: flex;
}
.banner{
    margin: 10px;
    height: 300px;
    border-radius: 12px;
}
.banner:hover{
    box-shadow: 1px 1px 100px 1px rgba(255, 255, 255, 0.096);
    transition: 0.5s;
    height: 320px;
}


.AllMovieContainer{
    position: relative;
}
.movieName{
    height: 100%;
    width: 100%;
    z-index: 999;
    position: absolute;
    /* top: -10%; */
    bottom: 0;
    font-size: 20px;
    display: flex;
    align-items: end;
    opacity: 0;
   
    
}
.banner{
    position: relative;
    min-width: 200px;
    margin: 10px;
    
}
.movieName:hover{
    padding-bottom: 40px;
    padding-left: 20px;
    font-weight: 200;
    color: rgb(255, 255, 255);
    opacity: 1;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.774);
    text-wrap: wrap;
    position: absolute;
    cursor: pointer;
    width: 220px;
    border-radius: 12px;

}

.sliderContainer h1{
    color: rgba(255, 255, 255, 0.13);
    margin: 20px;
    font-size: 50px;
    font-weight: 600;
    background-color: rgba(245, 222, 179, 0);
    position: absolute;
    top: 0;
}


.slick-slide > div{
    margin: 10px;
}

