#input {
    font-family: "SF Pro";
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;
    width: 300px;
    margin: 10px;
  }
  
  #input:focus {
    box-shadow: 5.5px 7px 0 rgb(196, 22, 22);
  }
  