@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
}
.movieContainer{
  display: grid;
  align-items: center;
  place-items: center;
  place-content: center;
  position: relative;
 background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/51c1d7f7-3179-4a55-93d9-704722898999/be90e543-c951-40d0-9ef5-e067f3e33d16/IN-en-20240610-popsignuptwoweeks-perspective_alpha_website_medium.jpg
 );
 height: 100VH; 
 background-size: cover;
 background-repeat: no-repeat;
}

.dark{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.767);
  z-index: 2;
}


.hero{
  position: absolute;
  z-index: 999;
  color: white;
  font-weight: 500;
  font-size: 50PX;
  text-align: center;
}
.hero p{
  font-size: 20px;
  font-weight: 100;
  color: rgb(240, 240, 240);
  text-align: center;
}
.hero button{
  font-size: 20px;
  background-color: #c11119;
  padding: 10px;
  border-radius: 22px;
  width: 150px;
}
.hero span{

  font-size: 12px;
}



