@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  user-select: none;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
}
.movieContainer{
  display: grid;
  align-items: center;
  place-items: center;
  place-content: center;
  position: relative;
 background-image: url(https://wallpapers.com/images/featured/movie-9pvmdtvz4cb0xl37.jpg
 );
 height: 100VH; 
 background-size: cover;
 background-repeat: no-repeat;
}

.dark{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.938);
  z-index: 2;
}


.hero{
  position: absolute;
  z-index: 700;
  color: white;
  font-weight: 500;
  font-size: 50PX;
  text-align: center;
}
.hero p{
  font-size: 20px;
  font-weight: 100;
  color: rgb(240, 240, 240);
  text-align: center;
}
.hero button{
  font-size: 20px;
  background-color: #c11119;
  padding: 10px;
  border-radius: 22px;
  width: 150px;
}
.hero span{

  font-size: 12px;
}



.search{
  background-color: rgb(22, 22, 22);
  width: 300px;
  padding: 20px;
  border-radius: 22px;
  font-weight: 200;
  font-size: 20PX;
}


.logo{
  /* background-color: aliceblue; */
  height: 100px;
  /* width: 300px; */
}